.profile__button-add {
  background-image: url(../../../images/button-add.svg);
  border-radius: 2px;
  border: 2px solid white;
  height: 50px;
  margin-bottom: 10px;
  width: 150px;
}

.profile__button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 917px) {
  .profile__button-add {
    background-size: 16px;
    margin-bottom: 0;
    width: 282px;
  }
}
