.profile__button-edit {
  background-image: url(../../../images/button-edit.svg);
  border: 1px solid white;
  height: 24px;
  width: 24px;
}

.profile__button-edit:hover {
  opacity: .6;
}

@media screen and (max-width: 917px) {
  .profile__button-edit {
    background-size: 8px;
    height: 18px;
    width: 18px;
  }
}
