.form__header {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 0 0 54px;
}

@media screen and (max-width: 618px) {
  .form__header {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.22;
    margin-bottom: 75px;
  }
}
