.profile__title-name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0 18px 16px 0;
  max-width: 294px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 917px) {
  .profile__title-name {
    font-size: 27px;
    line-height: 1.22;
    margin: 0 10px 14px 47px;
    max-width: 189px;
    text-align: center;
    width: 100%;
  }
}
