.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  max-width: 880px;
  min-height: 73px;
  padding-top: 45px;
}

@media screen and (max-width: 917px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 618px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
  }
}
